# Google Spreadsheet IDs
RESIDENTS_SHEET_ID=
ROOMS_SHEET_ID=
OCCUPANCIES_SHEET_ID=
CLEANING_PLACES_SHEET_ID=
CLEANINGS_SHEET_ID=
LOGS_SHEET_ID=

# Google Form IDs
CLEANING_FORM_ID=
RESIDENT_EVENT_FORM_ID=
