# Google Spreadsheet File ID (The single source of truth)
SPREADSHEET_ID=

# Sheet Names (Tabs within the spreadsheet file)
SHEET_NAME_HOUSES=Houses
SHEET_NAME_RESIDENTS=Residents
SHEET_NAME_ROOMS=Rooms
SHEET_NAME_OCCUPANCIES=Occupancies
SHEET_NAME_CLEANING_PLACES=CleaningPlaces
SHEET_NAME_CLEANINGS=Cleanings
SHEET_NAME_LOGS=Logs

# Google Form IDs
CLEANING_FORM_ID=
RESIDENT_EVENT_FORM_ID=